@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* .container{
  padding-left: auto;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;

} */